# Анализ для тестового задания от RealWeb (фарма)

## Загружаем необходимые библиотеки и данные

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

         Date  Category    Age  Gender  Sessions  Users  Goals
0  2020-03-02  Prodazhi  25-34  female     22235  10504    185
1  2020-03-03  Prodazhi  25-34  female     20423  10425    181
2  2020-03-10  Prodazhi  25-34  female     19784  10167    205
3  2020-03-04  Prodazhi  25-34  female     19394   9917    174
4  2020-03-11  Prodazhi  25-34  female     18875   9813    214

In [4]:
df.sample(5)

,Date,Category,Age,Gender,Sessions,Users,Goals
6609,2020-03-30,Transport-Logistika,45-54,male,618,453,26
27337,2020-05-11,Domashnij-personal,45-54,male,23,15,0
24678,2020-05-11,Sportivnye-kluby-fitnes-salony-krasoty,35-44,male,43,36,0
14786,2020-03-12,Domashnij-personal,45-54,female,191,113,4
23930,2020-03-23,Strahovanie,18-24,female,49,27,0

In [11]:
df.dtypes

date        object
category    object
age         object
gender      object
sessions     int64
users        int64
goals        int64
dtype: object

## Подготавливаем данные для анализа

- Для удобства сделаем заголовки строчными
- Изменим тип данных для даты

In [6]:
df.columns.str.lower()

Index(['date', 'category', 'age', 'gender', 'sessions', 'users', 'goals'], dtype='object')

In [10]:
df.columns = ['date', 'category', 'age', 'gender', 'sessions', 'users', 'goals']
df.columns

Index(['date', 'category', 'age', 'gender', 'sessions', 'users', 'goals'], dtype='object')

In [12]:
df['date'] = df['date'].to_numpy().astype('datetime64[M]')
df.dtypes

date        datetime64[ns]
category            object
age                 object
gender              object
sessions             int64
users                int64
goals                int64
dtype: object

## Изучим данные

In [20]:
# Какие у нас есть категории
by_cat = df.groupby('category')['users'].agg(['count', 'sum']).reset_index()
by_cat.sort_values('sum', ascending=False)

                                             category  count      sum
17                                           Prodazhi   1092  1475542
4   Buhgalterija-Upravlencheskij-uchet-Finansy-pre...   1092  1007350
8          Informacionnye-tehnologii-Internet-Telekom   1092   870952
0                           Administrativnyj-personal   1092   866149
18                                       Proizvodstvo   1092   827826
15                            Nachalo-karery-Studenty   1092   804895
23                                Transport-Logistika   1092   800535
22                          Stroitelstvo-Nedvizhimost   1092   609710
26                                Vysshij-menedzhment   1092   479241
13                               Marketing-Reklama-PR   1092   438578
25                     Upravlenie-personalom-Treningi   1091   328944
11                                            Juristy   1092   306726
19                                  Rabochij-personal   1092   286756
2                             Banki-Investicii-Lizing   1091   270700
14                              Medicina-Farmacevtika   1092   223722
10                 Iskusstvo-Razvlechenija-Mass-media   1091   220745
3                                         Bezopasnost   1088   219147
24                         Turizm-Gostinicy-Restorany   1089   204006
16                                  Nauka-Obrazovanie   1091   155332
27                                            Zakupki   1066   138136
1                                 Avtomobilnyj-biznes   1033   134528
5                                       Dobycha-Syrja   1030   125931
7   Gosudarstvennaja-sluzhba-nekommercheskie-organ...   1001    70177
20             Sportivnye-kluby-fitnes-salony-krasoty    917    59860
12                                    Konsultirovanie    921    50106
6                                  Domashnij-personal    957    44337
9                              Installjacija-i-servis    597    23209
21                                        Strahovanie    560    18595

In [21]:
# Проверим, что всё агрегировалось правильно
by_cat['sum'].sum() - df['users'].sum()

0

## Анализ